body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1082px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:859px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:859px;
}
#u52 {
  position:absolute;
  left:2px;
  top:422px;
  width:1078px;
  visibility:hidden;
  word-wrap:break-word;
}
